<div>
<h4>HTXM Demo</h4>

<button
    hx-get="/local/htmx/serve.php/local_htmx/hello"
>Click me!
</button>

<button
    hx-get="/local/htmx/serve.php/local_htmx/force_error"
>Click to trigger 500 response from server
</button>
</div>
